/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
img,
div,
text,
body,
h1,
h3 {
  margin: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: black;
  font-family: "Open Sans", sans-serif;
}

html {
  background-color: #fafafa;
}

body {
  font-size: 14px;
  color: #262626;
}

.boss-div {
  background: #fafafa;
}

li,
ul {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
}

.login-asset {
  height: 618px;
}

.session-form-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .landing-left {
    display: none;
  }
  .session-form-container {
    display: flex;
  }
  .landing-right {
    margin: auto;
  }
}

.nav-item:not(:first-child) {
  margin-left: 30px;
}

.box {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  padding: 10px 0;
  margin: 0 0 10px;
}

.logo {
  display: block;
  margin: 22px auto 12px;
  height: 51px;
}

.session-button:active {
  background: rgba(#3897f0, 0.7);
}

.form-input {
  display: block;
  height: 32px;
  margin-top: 7px;
  width: 258px;
  padding: 9px 0 7px 8px;
  background: #fafafa;
  border-radius: 3px;
  border-style: solid;
  border: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 1pt 1pt #999999;
}

.errors-list {
  text-align: center;
  list-style: none;
  color: #ed4956;
  font-size: 12px;
  margin: auto;
  width: 245px;
}

.errors-list li {
  display: inline-block;
}

.errors-list > li:first-child {
  margin-top: 20px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  color: #999999;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  color: #999999;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #999999;
  font-size: 14px;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
  font-size: 14px;
}

.landing-left {
  .dummy-phone {
    background-image: image-url("dummy-phone-2x.png");
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 454px 618px;
    position: relative;
    height: 618px;
  }

  .screen-shot {
    position: absolute;
    top: 99px;
    right: 63px;
    height: 427px;
    width: 240px;

    .item {
      position: absolute;
    }
  }
}

.landing-right {
  .session-form-container {
    width: 350px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);

    form {
      padding: 25px 40px;

      .btn-primary {
        width: 100%;
        line-height: 14px;
        font-size: 14px;
        font-weight: 600;
      }

      input {
        border: 1px solid #efefef;
      }

      .form-check-label {
        padding: 0;
        font-size: 15px;
        color: #262626;
      }
    }
  }
}

.session-error {
  margin-top: 10px;
  font-family: "helvetica";
  color: red;
  background-color: white;
  font-size: 14px;
  list-style: none;
}

.post-image {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
