.index {
  display: flex;
  justify-content: center;
  padding-top: 105px;
  font-family: 'helvetica';
}

.post-index-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
}

.post-container {
  justify-content: center;
  margin: 100px;
  margin: 30px;
}