.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 600px;
}

.modal-image {
    min-width: 500px;
    min-height: 500px;
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}

.modal-content {
  display: flex;
  justify-content: flex-start;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 12px;
  max-height: 600px;
}

.modal-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 14px;
  width: 304px;
  background-color: white;
}

.modal-username {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.caption-text-modal {
  color: black;
  font-size: 14px;
  font-family: 'Open-sans', sans-serif;
  font-weight: 400;
  margin-bottom: 1px;
  width: 100%;
}

.like-comment-render-modal {
  display: flex;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #efefef;
}

.modal-upper {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 28px;
  border-bottom: 1px solid #efefef;
}

.comments-like-input-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.like-count-modal {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 14px;
}

.modal-time {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #9f9f9f;
}

.modal-like-comment-form {
  display: flex;
  flex-flow: flex-start;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #efefef;
}

.modal-comment-list {
  overflow: scroll;
  max-height: 350px;
}