.navBar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  height: 50px;
  width: 100vw;
  z-index: 1;
  display: flex;
  position: fixed;
  top: 0;
  border: 10px;
}

.navBar-icons-group {
  order: 3;
  display: flex;
  position: absolute;
  right: 0;
  margin: 10px;
}

.navBar-logo {
  height: 43px;
  width: auto;
  cursor: pointer;
  margin: 10px;
}

h3 {
  text-align: center;
}

.navbar-brand {
  background-position: -176px 0;
  height: 35px;
  width: 176px;
  cursor: pointer;
}

.core-sprite {
  background-image: image-url("core-sprite.png");
  background-repeat: no-repeat;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.upload-icon {
  background-position: -287px -179px;
}

.profile-icon {
  background-position: -314px -181px;
}

.logout-icon {
}

.navBar-icon {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  cursor: pointer;
}
