.navBar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  height: 70px;
  width: 100vw;
  z-index: 1;
  display: flex;
  position: fixed;
  top: 0;
  border: 10px;
}

.navBar-icons-group {
  order: 3;
  display: flex;
  position: absolute;
  right: 10%;
  margin: 10px;
}

h3 {
  text-align: center;
}

.navBar-logo {
  background-position: -176px 0;
  height: 35px;
  width: 176px;
  cursor: pointer;
  position: absolute;
  left: 10%;
  margin: 10px;
  order: 1;
}

.core-sprite {
  background-image: image-url("core-sprite.png");
  background-repeat: no-repeat;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.upload-icon {
  background-position: -287px -179px;
}

.profile-icon {
  background-position: -314px -181px;
}

.logout-icon {
}

.navBar-icon {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.search-input {
  font-family: "helvetica";
  background: #ededed
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  background-color: #fafafa;
  padding: 6px;
  padding-left: 37px;
  width: 180px;
  height: 14px;
  border: 1px solid #efefef;
  border-radius: 3px;
  font-size: 15px;
  font-weight: lighter;
}

.search-input:focus {
  background-color: #ffffff;
}

.search-container {
  order: 2;
  display: flex;
  margin: 10px auto;
  list-style: none;
}

@media screen and (max-width: 785px) {
  .navBar-icons-group {
    display: none;
  }
  .navBar-logo {
    display: none;
  }
}
