.new-post-container {
  display: flex;
  justify-content: center;
}

.new-post-form {
  background: white;
  margin: 60px 0;
  border: 1px solid #efefef;
  padding: 0 30px 30px 30px;
}

.preview-holder {
  height: 400px;
  width: 400px;
  background-color: white;
  border: 1px lightgrey solid;
  border-radius: 8px;
}

.image-preview {
  max-height: 400px;
  width: 400px;
  max-width: 400px;
}

.caption-field {
  display: block;
  margin: 20px auto;
  border-radius: 4px;
  outline: 0;
  border: 1px solid #dbdbdb;
  padding: 2px;
  font-size: 13px;
  width: 263px;
  height: 40px;
  resize: vertical;
  margin-bottom: 20px;
}

.choose-file-holder {
  display: block;
  width: 100px;
  position: relative;
  margin: 0 auto;
  width: 250px;
  border-radius: 4px;
  padding: 10px;
  background: #3897f0;
  cursor: pointer;
  margin-bottom: 20px;
}

.choose-file-mask {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.choose-file-holder:active {
  background: rgba(#3897f0, 0.7);
}

.choose-file-button {
  position: absolute;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.new-post-button {
  display: block;
  background: #3897f0;
  border-radius: 4px;
  color: white;
  border: none;
  width: 270px;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  cursor: pointer;
}

.create-post-button {
  margin-bottom: 15px;
}

.new-post-button:active {
  background: rgba(#3897f0, 0.7);
}

.new-post-title {
  border: 0;
  padding: 0;
  display: block;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 15px;
}
