.posts {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}

.new-post-container {
  display: flex;
  justify-content: center;
}

.new-post-form {
  background: white;
  margin: 60px 0;
  border: 1px solid #efefef;
  padding: 0 30px 30px 30px;
}