.boss-div {
  background: #fafafa;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 80px;
  background-color: #fafafa;
  align-items: center;
  font-family: "helvetica";
}

.user-show-posts {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 24px;
}

.user-show-post-container {
  position: relative;
  width: 33%;
  padding-top: 33%;
}

.image {
  position: absolute;
  object-fit: cover;
  top: 0;
  width: 90%;
  height: 90%;
}

.user-profile {
  display: flex;
  width: 85%;
  max-width: 900px;
  justify-content: center;
  align-items: center;
}

.stat-number {
  font-weight: 700;
}

.post-stats {
  font-weight: 700;
}

.user-show-info {
  display: flex;
  justify-content: center;
  width: 100%;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  width: 185px;
  height: 185px;
  margin-left: 5%;
  margin-top: 50px;
  padding: 12px;
}

.profile-pic {
  width: 85%;
  height: 85%;
  border-radius: 100%;
  object-fit: cover;
}

.divider {
  width: 80%;
  height: 1px;
  background: #efefef;
  margin-right: 3%;
  max-width: 850px;
}

.user-show-info-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-top: 25px;
  padding-bottom: 14px;
  margin-left: 50px;
}

.user-show-username {
  font-family: "helvetica";
  margin-right: 15px;
  font-size: 32px;
}

.bio-container {
  display: flex;
  flex-direction: column;
}

.user-show-bio-header {
  font-weight: bold;
  margin: 5px 0 11px 0;
  margin-bottom: 5px;
}

.user-show-bio-text {
  margin-top: 5px;
  max-width: 450px;
  line-height: 1.2;
  max-height: 60px;
  overflow: overlay;
  word-wrap: break-word;
}

.edit-button {
  height: 20px;
  margin-left: 50px;
}
