.search-results-container {
    width: 212px;
    background: white;
    top: 40px;
}

.search-avatar {
    height:25px;
    width: 25px;
}

.display-none {
  display: none;
}

.search-results {
  position: absolute;
  top: 40px;
  background: white;
  width: 212px;
  border-bottom: 1px solid #dbdbdb;
  cursor: pointer;
}