html, div, text, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: #acaca5;
  font-family: 'Open Sans', sans-serif;
}

.page {
  // position: absolute;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // top: 0;
  // bottom: 0;
  // right: 0;
  // left: 0;
  // width: auto;
  // height: auto;
  // Flex boxing - decide on this later
}

body {
  background: #fafafa;
}

.session-form-container {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 935px;
  // display: flex;
  // justify-content: center;

  // position: absolute;
  // transform: translateY(-50%);
  // max-width: 935px;
  // margin: auto 0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 40px;
  color: black;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.entry-toggle {
  float: left;
}

.session-image {
  float: left;
}

.session-form-box {
  float: left;
  background: white;
  padding: 40px;
  margin-left: 30px;
  border: 1px solid #efefef;
}

.session-right-side {
  float: left;
}

.session-button {
  background: #3897f0;
  border-radius: 4px;
  color: white;
  border: none;
  width: 270px;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}

.submit-button {
  margin-top: 14px;
  cursor: pointer;
}

.session-button:active {
  background: rgba(#3897f0, 0.7);
}

.toggle-form {
  padding: 18px;
  float: left;
  background: white;
  border: 1px solid #efefef;
  color: black;
  margin: 20px 0 0 30px;
  font-size: 14px;
  text-align: center;
  width: 316px;
}

.or-divider {
  text-align: center;
}

.form-input {
  display: block;
  height: 32px;
  margin-top: 7px;
  width: 258px;
  padding-left: 8px;
  border-radius: 3px;
  border-style: solid;
  border-color: #dbdbdb;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 1pt 1pt #999999;
}

.entry-tagline {
  width: 260px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #9999a8;
  text-align: center;
}

li, ul {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
}

.errors-list > li {
  color: #ed4956;
  width: 245px;
  font-size: 12px;
  margin: 5px 0 0 20px;
  list-style-type: circle;
}

.errors-list > li:first-child {
  margin-top: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px;
  color: #999999;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
  color: #999999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999999;
  font-size: 14px;
}
