.session-form-container {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 935px;
  border-radius: 1px;
}

.landing-left {
  float: left;
}

.landing-right {
  float: left;
}

.session-form-box {
  text-align: center;
  max-width: 350px;
  background: #fff;
  padding: 10px 0;
  margin: 0 0 10px;
  border: 1px solid #e6e6e6;
}

.session-button {
  background: #3897f0;
  display: block;
  text-align: center;
  border-radius: 4px;
  color: white;
  border: none;
  width: 270px;
  outline: none;
  font-weight: 600;
  padding: 5px 9px;
  margin: 0px auto;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.form-input {
  font-size: 16px;
  border: 0;
  display: block;
  height: 40px;
  margin: auto;
  outline: 0;
  overflow: hidden;
  background: #fafafa;
  width: 258px;
  padding: 9px 0 7px 8px;
  border-radius: 3px;
  border-color: #dbdbdb;
}

.errors-list > li:first-child {
  margin-top: 20px;
}

.session-form {
  background: white;
  padding: 10px;
  font-weight: 600;
  line-height: 20px;
  font-size: 17px;
  color: #999;
  margin: 0 40px 10px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  color: #999999;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  color: #999999;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #999999;
  font-size: 14px;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
  font-size: 14px;
}

.signup-fields {
  display: block;
}

.login-fields {
  display: block;
  margin-bottom: 10px;
}

.toggle {
  display: block;
  margin: -10px 40px -32px 40px;
}

.signup-box {
  margin: 0 0 10px;
  padding: 30px 0;
}

.or {
  padding: 0 0;
  margin: -10px 40px 5px;
  color: #999999;
}
